<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.parent.mybatis.dao.ChatGroupMapper">
    <!--int add(ChatGroup chatGroup);-->
    <insert id="add" parameterType="com.platform.parent.mybatis.bean.ChatGroup">
        INSERT INTO chat_group (id, name,description, owner, member)
                VALUES (#{id}, #{name}, #{description}, #{owner}, #{member})
    </insert>
    <!--int update(ChatGroup chatGroup);-->
    <update id="update" parameterType="com.platform.parent.mybatis.bean.ChatGroup">
        UPDATE chat_group SET name = #{name}, description = #{description}, owner = #{owner}, member = #{member}
        WHERE id = #{id}
    </update>
    <!--int deleteByIds(String[] ids);-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        DELETE FROM chat_group WHERE id IN
        <foreach collection="array" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <!--ChatGroup findChatGroupById(String id);-->
    <select id="findChatGroupById" parameterType="java.lang.String" resultType="com.platform.parent.mybatis.bean.ChatGroup">
        SELECT * FROM chat_group WHERE id = #{id};
    </select>
</mapper>