<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.parent.mybatis.dao.CouponMapper">
    <!--* #优惠券模板表
    * # name 优惠券名称
    * # description 优惠券描述
    * # amount 优惠券的优惠金额
    * # duration 优惠券有效期（天数）-->
    <!--int add(Coupon coupon);-->
    <insert id="add" parameterType="com.platform.parent.mybatis.bean.Coupon" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon (name, description, amount, duration) 
                VALUES (#{name}, #{description}, #{amount}, #{duration})
    </insert>
    <!--int update(Coupon coupon);-->
    <update id="update" parameterType="com.platform.parent.mybatis.bean.Coupon">
        UPDATE coupon SET name = #{name}, description = #{decription}, amount = #{amount}, duration = #{duration}
        WHERE id = #{id}
    </update>
    <!--int deleteByIds(String[] ids);-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        DELETE FROM coupon WHERE id IN 
        <foreach collection="array" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <!--Coupon findCouponById(long id);-->
    <select id="findCouponById" parameterType="long" resultType="com.platform.parent.mybatis.bean.Coupon">
        SELECT * FROM coupon WHERE id = #{id}
    </select>
    <!--List<Coupon> findAllCoupons();-->
    <select id="findAllCoupons" resultType="com.platform.parent.mybatis.bean.Coupon">
        SELECT * FROM coupon
    </select>
</mapper>