<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.parent.mybatis.dao.ExtMapper">
    <insert id="add" parameterType="com.platform.parent.mybatis.bean.msgpayload.Ext">
        INSERT INTO `msg_ext` (`msg_ext_id`, `map`) VALUES (#{extId}, #{map})
    </insert>
</mapper>