<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.parent.mybatis.dao.TopicMapper">
    <!--private long userId;
    private long ownerId;
    private String name;
    private boolean pri, essence, top;
    private long campId;
    private String groupId;
    private Timestamp created, updated;-->
    <resultMap id="base" type="com.platform.parent.mybatis.bean.Topic">
        <id column="userId" property="userId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="name" property="name"/>
        <result column="pri" property="pri"/>
        <result column="essence" property="essence"/>
        <result column="top" property="top"/>
        <result column="camp_id" property="campId"/>
        <result column="group_id" property="groupId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>


    <!--int add(Topic topic);-->
    <insert id="add" parameterType="com.platform.parent.mybatis.bean.Topic" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO topic (owner_id, name, pri, essence, top, camp_id, group_id, created, updated)
        VALUES (#{ownerId}, #{name},#{pri},#{essence},#{top},#{campId},#{groupId},#{created},#{updated})
    </insert>
    <!--int update(Topic topic);-->
    <update id="update" parameterType="com.platform.parent.mybatis.bean.Topic">
        UPDATE topic SET owner_id = #{ownerId}, name = #{name}, pri = #{pri}, essence = #{essence},
        top = #{top}, camp_id = #{campId}, group_id = #{groupId}, created = #{created}, updated = #{updated}
        WHERE id = #{id}
    </update>
    <!--int deleteByIds(String[] ids);-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        DELETE FROM topic WHERE id IN
        <foreach collection="array" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <!--Topic findTopicById(long topicId);-->
    <select id="findTopicById" parameterType="long" resultMap="base">
        SELECT * FROM topic WHERE id = #{id}
    </select>
    <!--Topic findTopicByGroupId(String groupId);-->
    <select id="findTopicByGroupId" parameterType="java.lang.String" resultMap="base">
        SELECT * FROM topic WHERE topic.group_id = #{groupId}
    </select>
    <!--List<Topic> findTopicAccessible(long userId);-->
    <select id="findTopicAccessible" parameterType="long" resultMap="base">
        SELECT * FROM topic WHERE owner_id = #{userId} OR pri = FALSE GROUP BY id
        ORDER BY updated DESC
    </select>
</mapper>